body {
  background: #0f0f0f;
  color: white;
  font-family: Arial;
  text-align: center;
}

textarea {
  width: 80%;
  height: 100px;
  margin: 15px;
}

canvas {
  background: #222;
  margin: 20px auto;
  display: block;
  border: 1px solid #555;
}

button {
  padding: 10px 18px;
  font-size: 15px;
}
