body {
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

textarea {
  width: 80%;
  height: 120px;
  margin: 20px;
  font-size: 16px;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

#levelName {
  font-size: 20px;
  margin-top: 10px;
}
